@using NoteBoard.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="bs-component" style="margin-top: 3rem;">
    <div class="jumbotron">
        <h1 class="display-3 login">Welcome again!</h1>
        <p class="lead login">Please enter your login informations.</p>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="card text-white bg-primary mb-3 login">
                <div class="card-header"></div>
                <div class="card-body">
                    <fieldset class="fieldset-login">
                        <div class="form-group login">
                            @Html.LabelFor(model => model.Email)
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Enter email", type = "email", @class = "form-control login" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-val-error" })
                        </div>
                        <div class="form-group login">
                            @Html.LabelFor(model => model.Password)
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Enter password", type = "password", @class = "form-control login" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-val-error" })
                        </div>
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-check-input" })
                            @Html.LabelFor(model => model.RememberMe, new { @class = "form-check-label" })
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-val-error" })
                    </fieldset>

                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                    <div class="col-md-4">
                        <section id="socialLoginForm">
                            @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                        </section>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block login" value="Login with credentials">
            <p></p>
            <p></p>
            <div class="btn-group-vertical login" data-toggle="buttons">
                <button type="button" class="btn btn-primary login"><img src="https://www.shareicon.net/data/16x16/2015/09/25/107042_new_512x512.png" style="margin-right: 8px;" />Login with Google account</button>
                <button type="button" class="btn btn-primary login"><img src="https://www.shareicon.net/data/16x16/2017/06/28/888050_logo_512x512.png" style="margin-right: 8px; background-color: white" />Login with Facebook account</button>
            </div>

                <div style="text-align:center; padding-top:0.5rem;">
                    or
                </div>
                <a href="@Url.Action("Register")" class="btn btn-lg btn-link login">Create new account</a>
                }
            </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}